<section class="block" id="seccion1">
    <div class="paperbg"></div>
    <article class="textopag">
        <p class="lprimera">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, officia! Atque
            rerum, aliquam eos debitis nemo voluptates officiis nulla laudantium deleniti? Repellat facilis
            totam, nulla maiores perferendis reprehenderit quas dolorum! Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Labore vero veritatis cum placeat perferendis ullam pariatur ratione repellat. Aut
            nihil, pariatur dolor praesentium quas perferendis blanditiis doloribus voluptate ullam tempore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa repellendus, obcaecati ab deserunt
            facere dicta recusandae corrupti maiores blanditiis aspernatur ipsam error tenetur minus impedit
            rerum iste tempore dolorem pariatur!</p>
        <p class="lsecundaria">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo accusamus optio
            totam ducimus esse pariatur ipsum eos, numquam eius facilis, sunt facere. Ipsa nam molestiae
            possimus vero officia, atque omnis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
            illum nesciunt omnis neque atque voluptas facere quod amet harum eum quisquam, cum nihil
            exercitationem aut dolorem, commodi eveniet quas hic. Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Nulla laborum ex dolores! Est, quisquam laborum expedita animi, dicta, temporibus
            quod modi omnis cum consequatur fugiat officiis nesciunt reprehenderit nisi rem?</p>
    </article>
</section>
<section class="block" id="seccion2">
    <div class="meetingbg"></div>
    <article class="textopag">
        <p class="lprimera">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolore laudantium
            eveniet mollitia ipsam ducimus vero nulla similique, explicabo sunt vitae laborum necessitatibus
            ullam voluptatibus nostrum iure tempora inventore quasi? Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Molestiae tempore tenetur iusto eius qui illum atque enim repudiandae nulla harum,
            veritatis eaque officiis minus recusandae laudantium modi commodi. Nesciunt, iusto? Lorem ipsum
            dolor sit amet consectetur, adipisicing elit. Sunt eos sed et, facilis maiores repellendus
            perspiciatis sit iusto odit. Autem alias accusantium quasi sed aliquid quidem hic molestiae sint id?
        </p>
        <p class="lsecundaria">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, quam commodi,
            sint rerum consequatur nostrum, numquam dicta eos iure sed laboriosam. Itaque illo quo neque eius
            molestias porro voluptatum ab.</p>
        <p class="lsecundaria">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ea odio esse
            totam modi accusamus obcaecati vel id consequuntur dolorem, quod minima necessitatibus temporibus
            tenetur explicabo quo. Facere, sint dolorem? Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Similique voluptas quibusdam minus voluptate cumque, et molestiae sit possimus dolor
            aspernatur assumenda quos id fugit laborum ad modi quasi architecto sapiente.</p>
    </article>
</section>
<section class="block">
    <div class="bookbg" id="seccion3"></div>
    <article class="textopag">
        <p class="lprimera">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quia eligendi sed
            vero cumque nostrum excepturi velit labore, minima vitae dolore incidunt corporis quos, nam nihil!
            Rem error quasi maxime. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et eligendi, vero
            mollitia ducimus nam soluta aperiam quibusdam cum saepe doloribus voluptatibus voluptates eveniet
            aut. Facilis repudiandae incidunt molestiae provident sit!</p>
        <p class="lsecundaria">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perspiciatis
            cumque magnam laborum nostrum asperiores accusamus aspernatur praesentium minima excepturi ipsa
            eaque cum, facere consequatur possimus doloremque et ratione provident. Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Eaque, quas sint! Aliquam delectus dolorum, harum sint similique
            placeat. Facilis consequatur consectetur repellat fugit labore est asperiores similique et, beatae
            vitae.</p>
        <p class="lsecundaria">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi debitis maxime,
            perspiciatis accusantium quas voluptatibus ab delectus veniam, natus, voluptatum numquam qui
            eligendi unde cumque soluta. Consequuntur saepe facilis ullam.</p>
    </article>
</section>
<section class="block">
    <div class="teambg" id="seccion4"></div>
</section>
