<section>
    <h1>Aviso Legal</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, autem! Placeat hic doloremque sequi soluta assumenda necessitatibus sapiente libero odio, veritatis reprehenderit obcaecati nihil esse provident. Ad ab nobis voluptas?</p>
</section>
<section>
    <h1>Política de cookies</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestiae reprehenderit illum, veniam eius animi quidem facere suscipit repellat aut provident officiis eos magni consectetur assumenda, id ducimus quo. Aut.</p>
</section>
<section>
    <h1>Copyright</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sequi consequuntur quod debitis quisquam numquam quam, quasi autem animi veritatis, voluptatibus nemo voluptates, tenetur ex ducimus aperiam excepturi! Architecto, iste.</p>
</section>