<section class="block" id="seccion2">
    <div class="meetingbg"></div>
    <article class="textopag">
        <h2>Nos acompañan</h2>
        <p class="lprimera">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus cupiditate iste
            consequatur magni
            dignissimos nemo facere, ut voluptatum aliquid molestiae, fugiat veritatis quasi neque excepturi
            quod
            aperiam pariatur itaque at.</p>
        <p class="lsecundaria">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus cupiditate iste
            consequatur magni
            dignissimos nemo facere, ut voluptatum aliquid molestiae, fugiat veritatis quasi neque excepturi
            quod
            aperiam pariatur itaque at.</p>
    </article>
    <article>
        <ul class="partnerlist">
            <li>Idenmatica</li>
            <li>Iterim</li>
            <li>Astdesign</li>
            <li>Ingeniría&Productividad</li>
            <li>V&A Solutions</li>
            <li>KC Consultores</li>
            <li>Teostek</li>
            <li>Golenser</li>
        </ul>
    </article>
    <div class="parentpartner">
        <div class="divpartner"><img src="images/partner1.jpg" alt=""></div>
        <div class="divpartner"><img src="images/partner2.png" alt=""></div>
        <div class="divpartner"><img src="images/partner3.jpg" alt=""></div>
        <div class="divpartner"><img src="images/partner4.png" alt=""></div>
        <div class="divpartner"><img src="images/partner5.jpg" alt=""></div>
        <div class="divpartner"><img src="images/partner6.jpg" alt=""></div>
        <div class="divpartner"><img src="images/partner7.jpg" alt=""></div>
        <div class="divpartner"><img src="images/partner8.png" alt=""></div>
    </div>
</section>