<section class="bookbg" id="seccion3"></section>
<div class="textopag">
    <section>
        <h1>Nuestros servicios</h1>
        <h2>Reproductor musical</h2>
        <h3>Lista de reproducción</h3>
        <p>Cargue las canciones a escuchar:</p>
        <div>
            <h2>Buscador</h2>
            <section class="buscador">
                <div>
                    <input type="text" name="" id="filtroCancion" placeholder="Canción">
                    <button id="btnBuscar" type="button">Buscar</button>
                </div>

            </section>
            <aside>
                <button id="btnQuitar">Quitar filtro</button>
            </aside>
            <table id="tableCanciones">
                <h2>Lista de Canciones</h2>
                <thead>

                    <tr>
                        <th><input type="text" id="headerCancion" placeholder="Canción"></th>
                        <th><input type="text" id="headerArtista" placeholder="Artista"></th>
                        <th><select name="" id="headerAnio" placeholder="Año"></select></th>
                        <th><input type="text" id="headerAlbum" placeholder="Álbum"></th>
                        <th><input type="text" id="headerDuracion" placeholder="Duración"></th>
                        <th class='options'>
                            <button class="btnPost"><img class='icons' src="css/images/icons/save.png"></button>
                            <button class="btnPostx3"><img class='icons' src="css/images/icons/save3.png"></button>
                            <button class="oculto btnGuardar"><img class='icons' src="css/images/icons/save.png"></button>
                        </th>

                    </tr>
                </thead>
                <tbody class="contenedor" id="tBodyCanciones"></tbody>
                <tfoot></tfoot>
            </table>
        </div>

    </section>
</div>